html {
  background-color: #c9b5ab;
}

h1 {
  font-size: 1.5rem;
  color: #3f1622;
  font-family: 'PT Sans', sans-serif;
}

nav a {
  text-decoration: none;
}

nav a {
  color: #8f2440;
  list-style: none;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
 }

nav a:hover {
  color: #3f1622;
}

h2 {
  font-size: 1.5rem;
  color: #3f1622;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

li {
  font-size: 0.8rem
  color: #8f2440;
  list-style: none
}

p {
  font-size: 0.8rem;
}

html {
  line-height: 1.5rem;
}

img {
  width: 100%;
}

blockquote {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-size: 1.5rem;
}

footer a {
  color: #8f2440;
}

footer a:hover {
  color: #3f1622
}

h2 + p {
  font-style: italic;
}

.carbs, .fat, .protien, .energy {
  font-weight: bold;
}

figure p {
  font-style: italic;
}

aside {
  font-size: 0.8rem;
  list-style: circle;
}

footer {
  font-size: 0.8rem;
}
